@import "bootstrap";

img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-bottom: 30px;

  &:hover {
    opacity: 0.8;
  }
}

.title {
  font-size: 48px;
  font-family: 'Orbitron', sans-serif;
  margin: 100px 0;
}

.sub-title {
  font-size: 24px;
  font-family: 'Gloria Hallelujah', cursive;
}

.centering {
  margin: auto;
}

.container {
  padding-bottom: 60px;
}

.profile_image {
  margin-bottom: 50px;
}
