@import "bootstrap";

$profile_img_size: 100px;

.profile_image {
  width: $profile_img_size:;
  height: $profile_img_size:;
  border-radius: 50%;
  margin-bottom: 50px;

  &:hover {
    opacity: 0.8;
  }
}

.title {
  font-size: 48px;
  font-family: 'Orbitron', sans-serif;
  margin: 100px 0 20px;
}

.sub-title {
  font-size: 24px;
  font-family: 'Gloria Hallelujah', cursive;
  margin-bottom: 100px;
}

.container {
  padding-bottom: 60px;
}
