%section
  %h1 Member
  %div.col-md-6.col-xs-12
    = partial "contents/member_profile/morishitter"
    = partial "contents/member_profile/tsuwatch"
    = partial "contents/member_profile/kikunantoka"
    = partial "contents/member_profile/super_wakame"

%div.clearfix
