%section
  .clearfix
    %div.col-md-6.col-xs-12.col-lg-3
      = partial "contents/member_profile/morishitter"
    %div.col-md-6.col-xs-12.col-lg-3
      = partial "contents/member_profile/tsuwatch"
    %div.col-md-6.col-xs-12.col-lg-3
      = partial "contents/member_profile/kikunantoka"
    %div.col-md-6.col-xs-12.col-lg-3
      = partial "contents/member_profile/super_wakame"
