%section
  .member.clearfix
    .col-xs-12.col-md-6.col-lg-3.text-center
      = partial "contents/member_profile/morishitter"
    .col-md-6.col-xs-12.col-lg-3.text-center
      = partial "contents/member_profile/tsuwatch"
    .col-md-6.col-xs-12.col-lg-3.text-center
      = partial "contents/member_profile/kikunantoka"
    .col-md-6.col-xs-12.col-lg-3.text-center
      = partial "contents/member_profile/super_wakame"
